<h3>Listings</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>listingId</th>
        <th>userId</th>
        <th>hostId</th>
        <th>status</th>
        <th>dateStart</th>
        <th>dateEnd</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let booking of bookings">
        <td>{{booking.Id}}</td>
        <td>{{booking.listingId}}</td>
        <td>{{booking.userId}}</td>
        <td>{{booking.hostId}}</td>
        <td>{{booking.status}}</td>
        <td>{{booking.dateStart}}</td>
        <td>{{booking.dateEnd}}</td>
      </tr>
    </tbody>
  </table>
</div>