<div>
     <nav id = "top" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <img class = "logo" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZp9H4XtsCrN-bC9zuebl4l8iPZZjVOEhR5ZEhxIkftMjzt1fo"/>
      <a class="navbar-brand col-sm-4 col-md-3 mr-0" href="#">Admin Panel</a>
      
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3"></ul>
    </nav>
  
    <div style="margin-top:40px; height: calc(100vh - 40px);" class="container-fluid">
      <div style="margin-top:40px; height: calc(100vh - 40px);" class="row">
  
        <nav id = "side" class="col-md-2 d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li *ngFor="let navItem of navItems" >
                <button type="button" class="btn btn-link" (click)="navTo(navItem)">{{navItem.name}}</button>
              </li>
            </ul>
          </div>
        </nav>
  
        <main class="col-md-10">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>
          <router-outlet></router-outlet>
        </main>
  
      </div>
    </div>
  
  </div>